.indoor-section {
  padding: 20px;
  line-height: normal;
  font-family: "Noto Sans KR", sans-serif;
}
.indoor-section article:first-of-type {
  margin-bottom: 60px;
}
.indoor-section article:last-of-type {
  margin-bottom: 100px;
}

/* 산림문화전시관 */
.forestcul {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.forestcul-text {
  font-size: 15px;
  line-height: 22px;
  padding-left: 5px;
}

/* 체험장 안내 */
.useProgInfo {
  margin-bottom: 50px;
}

.useProgInfo p:not(.progTit) {
  margin-left: 5px;
}

.useProgInfo .progTit {
  font-size: 19px;
  margin: 0 0 5px 15px;
  position: relative;
}

.useProgInfo .progTit::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #000;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
}
.useProgInfo p a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* 층별안내 */
.floorInfo {
  display: flex;
  flex-direction: column;
}
.floorInfo-con-box > p {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin: 5px 10px 15px;
  font-size: 19px;
}
.floorInfo-con-box > p > p {
  font-size: 16px;
}
.floorInfo-con-box:first-of-type {
  margin-bottom: 50px;
}
.floorImg {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px 0;
  justify-content: space-evenly;
}
.floorImg div {
  width: 90%;
  margin: 0 auto;
  height: 170px;
  background: url("https://images.unsplash.com/photo-1533460004989-cef01064af7e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
