.indoor-section {
  padding: 20px;
  line-height: normal;
  font-family: "Noto Sans KR", sans-serif;
}
.indoor-section article:first-of-type {
  margin-bottom: 60px;
}
.indoor-section article:last-of-type {
  margin-bottom: 100px;
}

/* 산림문화전시관 */
.forestcul {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.forestcul-title {
  color: #119724;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.forestcul-text {
  font-size: 15px;
  line-height: 22px;
  padding-left: 5px;
}

/* 층별안내 */
.floorInfo {
  display: flex;
  flex-direction: column;
}
.floorInfo-con-box > p {
  border-bottom: 1px solid gray;
  margin: 0 10px 15px;
}
.floorInfo-con-box {
  margin-bottom: 15px;
}
.floorImg {
  display: flex;
  justify-content: space-around;
}
.floorImg div {
  width: 145px;
  height: 145px;
  background: gray;
}
