
.main-con {
  width: 100vw;
  height: 100vh;
  background-color: #119724;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main-logo {
  width: 100px;
}

.main-title {
  color: white;
  font-family: "April16th-Promise";
  font-size: 2.5rem;
}
