section#mypage {
  padding: 60px 20px;
}

section#mypage h2 {
  font-size: 27px;
  font-weight: bold;
}

section#mypage #accountInfo {
  padding: 40px 30px 0 10px;
}

section#mypage #accountInfo > div:last-child {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section#mypage #accountInfo > div:last-child button {
  padding: 8px 20px;
  border-radius: 50px;
  border: 1px solid gray;
  font-size: 18px;
}

section#mypage #accountInfo div p:first-child {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

section#mypage #accountInfo div p:last-child {
  font-size: 20px;
  color: gray;
}

.settingBtn:first-of-type {
  margin-bottom: 20px;
}
.settingBtn {
  margin: 0 15px;
  padding: 20px 25px;
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 20px;
  min-height: 160px;
  justify-content: space-between;
}

.settingBtn .btnTxt {
  padding: 0 20px 0 0;
  max-width: 200px;
}
.settingBtn .btnTxt p:first-child {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.settingBtn .btnTxt p:last-child {
  font-size: 18px;
  line-height: 24px;
}
.settingBtn .togBtn {
  width: 60px;
  height: 33px;
  background: #d9d9d9;
  border-radius: 50px;
  position: relative;
}

.togBtn .togCircle {
  position: absolute;
  top: 50%;
  transform: translateY(-52%);
  transition: all 0.2s;
  height: 25px;
  width: 25px;
  background: #fff;
  border-radius: 100%;
  margin: 0 6px;
}
