.stamp-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 120px;
}

.stamp-box {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 25px;
  align-items: center;
}
.stamp-box img {
  width: 140px;
}
#greenStamp,
#blackStamp {
  display: none;
}
