@tailwind base;
@tailwind components;
@tailwind utilities;

.ffTitle {
  font-family: "April16th-Promise";
}

* {
  word-break: keep-all;
  font-family: "Noto Sans KR", sans-serif;
  --mainGreen: #119724;
  --subGreen: #1bcc34;
}

/* 공통적용 css ------------------------------------------*/
/* GreenDot */
.hoursT {
  position: relative;
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 500;
}
h3::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #119724;
  display: inline-block;
  border-radius: 50%;
}
/* Hours */
.intro-title {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
}

.intro-timetable {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.timetable-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid #119724;
  border-bottom: 2px solid #119724;
  padding: 3px 0;
  position: relative;
  height: 35px;
}

.timetable-title::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background-color: #119724;
  display: inline-block;
}
.timetable-column {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 5px 0;
  height: 35px;
}
.timetable-column:last-of-type {
  border-bottom: none;
}
.timetable-column p {
  flex: 1;
  text-align: center;
}

.mainGreen-title {
  color: var(--mainGreen);
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}

/* 지도 마커 이미지 */
.bgMarker {
  background-image: url("../public/markers/gpsMarker.svg");
  min-width: 34px;
  height: 50px;
  background-size: 34px;
  background-repeat: no-repeat;
}
.bgMarker.bgMarker0 {
  background-position: 0 0;
}
.bgMarker.bgMarker1 {
  background-position: 0 calc((58.5px * 1) * -1);
}
.bgMarker.bgMarker2 {
  background-position: 0 calc((58.5px * 2) * -1);
}
.bgMarker.bgMarker3 {
  background-position: 0 calc((58.5px * 3) * -1);
}
.bgMarker.bgMarker4 {
  background-position: 0 calc((58.5px * 4) * -1);
}
.bgMarker.bgMarker5 {
  background-position: 0 calc((58.5px * 5) * -1);
}

/* 알림창 */
.swal2-container {
  font-family: "Noto Sans KR", sans-serif;
}

.swal2-actions {
  width: 100%;
}

.swal2-confirm {
  color: #3670da;
  font-weight: 500;
  margin-top: 10px;
  padding: 10px 35px 10px 10px;
  width: 100%;
  text-align: end;
}

@font-face {
  font-family: "April16th-Promise";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404-2@1.0/April16th-Promise.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
