@tailwind base;
@tailwind components;
@tailwind utilities;

.ffTitle {
  font-family: "April16th-Promise";
}

* {
  word-break: keep-all;
  font-family: "Noto Sans KR", sans-serif;
  --mainGreen: #119724;
  --subGreen: #1bcc34;
}

@font-face {
  font-family: "April16th-Promise";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404-2@1.0/April16th-Promise.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* 공통적용 css ------------------------------------------*/
/* GreenDot */
.hoursT {
  position: relative;
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 500;
}
h3::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #119724;
  display: inline-block;
  border-radius: 50%;
}
/* Hours */
.intro-title {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
}

.intro-timetable {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.timetable-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid #119724;
  border-bottom: 2px solid #119724;
  padding: 3px 0;
  position: relative;
  height: 35px;
}

.timetable-title::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background-color: #119724;
  display: inline-block;
}
.timetable-column {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 5px 0;
  height: 35px;
}
.timetable-column:last-of-type {
  border-bottom: none;
}
.timetable-column p {
  flex: 1;
  text-align: center;
}
